#nav {
  padding: 0 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans", sans-serif !important;
  position: sticky;
  top: 0;
  background-color: #000000aa;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 99;
  border-bottom: 1px dashed var(--grey-700);
}

#nav > img {
  max-width: 20rem;
}

#nav-btns {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#nav-btns > button {
  margin-right: 1rem;
}
