#cfl {
  text-align: center;
  margin: 4rem;
  border: 1px dashed var(--grey-700);
}

#cfl > .content {
  padding: 2rem;
  width: 50%;
  margin: auto;
}

#cfl > .content > h2 {
  font-size: 4.5rem;
  width: fit-content;
  margin: auto;
}

#cfl > .content > p {
  font-size: 2rem;
}

@media screen and (max-width: 1350px) {
  #cfl > .content {
    width: 80%;
  }
}

@media screen and (max-width: 737px) {
  #cfl > .content {
    width: fit-content;
  }

  #cfl > .content > p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  #cfl {
    margin: 1.5rem;
  }

  #cfl > .content > h2 {
    font-size: 2rem;
  }
  #cfl > .content > p {
    font-size: 1.25rem;
  }
}
