#disclaimer {
  text-align: center;
  margin: 4rem;
  border: 1px dashed var(--grey-700);
}

#disclaimer > .content {
  padding: 2rem;
  width: 50%;
  margin: auto;
}

#disclaimer > .content > h2 {
  font-size: 2rem;
  border: 1px dashed var(--red-500);
  width: fit-content;
  margin: auto;
  padding: 1rem 2rem;
  border-radius: 5rem;
  color: var(--red-500);
  background-color: #ff000011;
}

#disclaimer > .content > p {
  font-size: 2rem;
}
