#hdiw {
  display: flex;
  align-items: center;
  height: fit-content;
  width: 100%;
  border-top: 1px dashed var(--grey-700);
}

#img-div {
  height: 100vh;
  width: 30%;
  background-image: url(/src/assets/images/howdoesitwork.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border-right: 1px dashed var(--grey-700);
}

#content-div {
  margin: 0 auto;
  width: 50%;
  padding: 2rem;
}

#content-div > h2 {
  margin: 0;
  font-size: 4.5rem;
  font-weight: 800;
}

#content-div > p {
  font-size: 2rem;
  font-weight: 500;
}

.tag {
  padding: 0.25rem 0.5rem;
  margin-right: 1rem;
  border-radius: 1rem;
}

#tag1 {
  color: #00ff00;
  background-color: #00ff0015;
  border: 1px dashed #0f0;
}

#tag2 {
  color: #ffff00;
  background-color: #ffff0015;
  border: 1px dashed #ff0;
}

#tag3 {
  color: #ff0000;
  background-color: #ff000015;
  border: 1px dashed #f00;
}

#content-div > a {
  font-size: 2rem;
  font-weight: 800;
}

@media screen and (max-width: 737px) {
  #hdiw {
    position: relative;
    display: block;
    height: fit-content;
    padding-bottom: 2rem;
  }

  #img-div {
    width: 100%;
    height: 30vh;
    border-right: none;
    border-bottom: 1px dashed var(--grey-700);
  }

  #content-div {
    width: 90%;
    margin: 1rem auto;
    padding: 0;
  }

  #content-div > h2 {
    font-size: 2.5rem;
  }

  #content-div > p {
    font-size: 1.5rem;
  }

  #content-div > a {
    font-size: 1rem;
  }

  .tag {
    font-size: 0.8rem;
  }
}
