#motiv {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  border-top: 1px dashed var(--grey-700);
}

#motiv > img {
  height: 100vh;
  border-left: 1px dashed var(--grey-700);
}

#motiv > div {
  margin: 0 auto;
  width: 50%;
  padding: 2rem;
}

#motiv > div > h2 {
  margin: 0;
  font-size: 4.5rem;
  font-weight: 800;
}

#motiv > div > p {
  font-size: 2rem;
  font-weight: 500;
}
