#whatnext {
  width: 100%;
  border-top: 1px dashed var(--grey-700);
  border-bottom: 1px dashed var(--grey-700);
  text-align: center;
}

#whatnext > div {
  background-image: url("/src/assets/images/whathappensnext.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

#whatnext > div > h2 {
  font-size: 4.5rem;
  font-weight: 800;
  padding: 6rem 0;
  margin: 0;
  backdrop-filter: brightness(20%);
  -webkit-backdrop-filter: brightness(20%);
}

#whatnext p {
  font-size: 2rem;
}
