.day {
  border-bottom: 1px dashed var(--grey-700);
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.day > div > h3 {
  font-size: 2rem;
  margin: 1rem 0;
}

.day:nth-child(odd) {
  /* align-self: flex-end; */
  text-align: right;
  flex-direction: row-reverse;
}

.day:nth-child(even) > img {
  transform: rotate(10deg);
  margin-right: 3rem;
}

.day:nth-child(odd) > img {
  transform: rotate(-10deg);
  margin-left: 3rem;
}

.day > img {
  width: 10rem;
}
