:root {
  /* Colors */
  --blue-500: #4285f4;
  --blue-300: #8ab4f8;

  --green-500: #34a853;
  --green-300: #81c995;

  --yellow-500: #f9ab00;
  --yellow-300: #fde293;

  --red-500: #ea4335;
  --red-300: #f28b82;

  --black: #000000;
  --white: #ffffff;
  --whitesmoke: whitesmoke;
  --grey-700: #5f6368;
  --grey-100: #f1f3f4;
  --btn-pressed-color: rgb(212, 212, 212);

  /* Shorthands for Fonts */
  --manrope: "Manrope", sans-serif !important;
  --open-sans: "Open Sans", sans-serif !important;
  --roboto-mono: "Roboto Mono", monospace !important;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

.gdsc-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-decoration: none;
  color: var(--black);
  border: 1px solid var(--black);
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  width: fit-content;
}

.gdsc-btn:hover {
  background-color: var(--whitesmoke);
}

.gdsc-btn:active {
  background-color: var(--btn-pressed-color);
}
