body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  text-align: center;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
